{% extends 'budget/home_base.html' %} {% block content %} {% if messages %} {% for message in messages %} {% endfor %} {% endif %} {% if all_notes %}
<table class="stripped">
    <tr>
        <th>Note name</th>
    </tr>
    {% for things in all_notes %}
    <tr>
        <td>{{things.note}}</td>
        <td><a class="btn-floating btn-large waves-effect waves-light red" href="{% url 'delete' things.id %}"><i class="material-icons">delete</i></a></td>
    </tr>
    {% endfor %}
</table>
{% endif %} {% endblock %}