{% extends 'budget/base.html' %} {% block content %}
<div class="container">
    <section class="section section-stats">
        <h1><b>{{project.name}}</b></h1>
        <br>
        <div class="row">


            <!---Diplay of the budget-->
            <div class="col s12 m12 14">
                <div class="card-panel">
                    <h6 class="bold">Total Budget</h6>
                    <h1 class="bold">£{{project.budget}}</h1>
                </div>
            </div>

            <!---Diplay of how much the user spent of the budget-->
            <div class="col s12 m12 14">
                <div class="card-panel">
                    <h6 class="bold">Amount left</h6>
                    <h1 class="bold">£{{project.budget_spent}}</h1>
                </div>
            </div>


        </div>
    </section>
    <section class="section section-expanses">
        <div class="row">
            <button class="btn waves-effect right modal-trigger" href="#spedningModel">
					<i class="material-icons white-text left">add</i>Add Expense
				</button>
            <a class="btn-floating btn-large waves-effect waves-light yellow" href="{% url 'export' %}"><i class="material-icons">file_download</i></a>
        </div>

        <ul class="z-depth-1">
            {%for expense in expense_list%}
            <li>
                <div class="card-panel z-depth-0 expanse">
                    <div class="row">

                        <div class="col 16">
                            <span class="title">{{expense.title}}</span>
                        </div>

                        <div class="col 13">
                            <span class="title">£{{expense.amount}}</span>
                        </div>
                        <a onclick="deleteSpending(this)" data-id="{{ expense.id }}">
                            <i class="material-icons red-text right"> delete</i>
                        </a>
                    </div>
                </div>
            </li>
            {%endfor%}
        </ul>
    </section>
</div>

<div id="spedningModel" class='modal'>
    <div class="modal-content">
        <h4>Add new spending</h4>
        <form method="POST">
            {% csrf_token %} {{ form }}
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>

<!--Materialise script to prompt the menu for entering the new spending-->
<script>
    var elem = document.querySelector('.modal')
    var instance = M.Modal.init(elem)

    var elem = document.querySelector('select')
    var instance = M.FormSelect.init(elem)

    function deleteSpending(e) {

        let id = e.dataset.id /*gets the data attribute of the id*/
        e.closest('li').remove()

        fetch('', {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'id': id
            }),
            credentials: 'same-origin',
        })
    }
</script>
{% endblock %}